.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header__burger-icon {
  position: absolute;
  right: 0.8em;
  font-size: 2em;
  padding: 0.4em;
  background: none;
  border: 1px solid transparent;
  color: #f5f5f5;
  transition: 0.3s;
  cursor: pointer;
}
.header__burger-icon:hover, .header__burger-icon:focus {
  color: #676767;
}

.nav-mobile__close-icon {
  position: relative;
  left: 50%;
  top: 1.5em;
  transform: translateX(-50%);
  font-size: 4rem;
  padding: 0.4em;
  background: none;
  border: 1px solid transparent;
  color: #f5f5f5;
  transition: 0.3s;
  cursor: pointer;
}
.nav-mobile__close-icon:hover, .nav-mobile__close-icon:focus {
  color: #676767;
}

.section-title {
  display: flex;
  align-items: center;
  height: 6em;
  width: 100%;
  margin-bottom: 3em;
}
.section-title__text {
  width: 100%;
  padding: 0.3em;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) {
  .section-title__text {
    font-size: 3rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cinzel", serif;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  background-color: #f5f5f5;
}

.sticky-body {
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/mother-with-child_640.jpg");
  background-size: cover;
  background-position: center;
}
.header .icon__box {
  position: fixed;
  width: 100vh;
  height: 4.5em;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.header__burger-icon {
  position: fixed;
  padding: 0.4em;
  background: none;
  border: 1px solid transparent;
  color: #f5f5f5;
  transition: 0.3s;
  cursor: pointer;
}
.header__burger-icon:hover, .header__burger-icon:focus {
  color: #676767;
}
.header .nav {
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
}
.header .nav-mobile {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.header .nav-mobile--active {
  transform: translateX(0);
}
.header .nav__link {
  position: relative;
  display: flex;
  font-size: 2.8rem;
  text-decoration: none;
  color: #f5f5f5;
  padding: 0.5em 1em;
  justify-content: center;
  transition: 0.3s;
}
.header .nav__link:hover {
  color: #676767;
}
.header .nav__link--mobile:nth-child(2) {
  margin-top: 4.8em;
}
.header .nav__link--mobile:nth-child(2)::before {
  position: absolute;
  content: "";
  top: -30px;
  width: 70%;
  height: 1px;
  background-color: #808080;
  cursor: default;
}
.header .nav-desktop {
  display: none;
}
.header__text {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translateX(-50%);
  color: #f5f5f5;
}
.header__text--my-name {
  font-size: 5.3rem;
  font-weight: 200;
  white-space: nowrap;
}
.header__text--quote {
  text-align: center;
  font-size: 1.5rem;
}

.about-me-section-title {
  padding: 5em 0;
}
.about-me .wrapper {
  display: flex;
  justify-content: center;
}
.about-me__box {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 700px;
  margin-bottom: 5em;
  padding: 1em;
  justify-content: center;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
}
.about-me__photo {
  height: 100%;
  filter: grayscale(90%);
}
.about-me__motto {
  padding: 0.7em;
  font-size: 2rem;
  text-align: center;
}
.about-me__link {
  margin-bottom: 0.5em;
  font-size: 1.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  font-weight: 200;
  text-decoration: none;
  color: #676767;
}
.about-me__link::before, .about-me__link::after {
  position: absolute;
  content: "";
  bottom: -2px;
  height: 1px;
  width: 0;
  background-color: #808080;
  cursor: default;
  transition: width 0.5s;
}
.about-me__link::before {
  right: 50%;
}
.about-me__link::after {
  left: 50%;
}
.about-me__link:hover::before, .about-me__link:hover::after {
  width: 30%;
}
.about-me__link .fa-arrow-right {
  margin-right: 1em;
  margin-top: 0.15em;
}

.journal .journal-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: BLACK;
  overflow: hidden;
  z-index: 5;
}
.journal .journal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.journal .journal-box--one::before, .journal .journal-box--two::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 70%;
  background-color: #676767;
  bottom: 2em;
}
.journal .journal-box__title {
  margin: 0.5em auto;
  font-size: 4rem;
  font-weight: 200;
}
.journal .journal-box__text {
  font-size: 2.3rem;
  width: 70%;
  text-align: center;
  font-weight: 200;
}
.journal .journal-box__photo {
  scale: 0.6;
  margin-top: -6em;
  border-radius: 12px;
}
.journal .journal-box__link {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  font-weight: 200;
  text-decoration: none;
  color: #676767;
  margin-top: 1em;
  font-size: 2rem;
}
.journal .journal-box__link::before, .journal .journal-box__link::after {
  position: absolute;
  content: "";
  bottom: -2px;
  height: 1px;
  width: 0;
  background-color: #808080;
  cursor: default;
  transition: width 0.5s;
}
.journal .journal-box__link::before {
  right: 50%;
}
.journal .journal-box__link::after {
  left: 50%;
}
.journal .journal-box__link:hover::before, .journal .journal-box__link:hover::after {
  width: 30%;
}
.journal .journal-box--three {
  width: 90%;
}

.portfolio {
  min-height: 30em;
  overflow: hidden;
}
.portfolio .section-title {
  position: relative;
}
.portfolio .gallery-box {
  display: flex;
  align-items: center;
}
.portfolio .gallery-box__photo {
  margin: 3em;
  scale: 0.9;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -4px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: scale 0.3s;
}
.portfolio .gallery-box__photo:hover {
  scale: 1.1;
}

.footer {
  background-color: #676767;
}
.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15em;
  align-items: center;
  color: #f5f5f5;
}
.footer-box__left, .footer-box__right {
  padding: 0 2em;
  margin: 1.2em 0;
}
.footer-box__left .my-name {
  font-size: 4rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.footer-box__left .place {
  font-style: italic;
  text-align: center;
}
.footer-box__medium {
  position: relative;
  display: none;
  font-size: 2.2rem;
  font-weight: 200;
}
.footer-box__medium::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 50%;
  background-color: #f5f5f5;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.footer-box__medium-one, .footer-box__medium-two {
  display: flex;
  flex-direction: column;
  margin: 2em;
  height: 3em;
  text-align: center;
}
.footer-box__medium-three {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer-box__medium .map {
  text-decoration: none;
  color: #f5f5f5;
  line-height: 1.8em;
  transition: color 0.3s;
}
.footer-box__medium .map:hover {
  color: #808080;
}
.footer-box__right {
  text-align: center;
}
.footer-box__right .mail {
  font-size: 2rem;
  margin-bottom: 1em;
  font-style: italic;
}
.footer-box__right--media {
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  margin-bottom: 1em;
  cursor: pointer;
}
.footer-box__bottom {
  width: 100%;
  text-align: center;
  padding: 1em;
  color: #f5f5f5;
}

@media (min-width: 414px) {
  .portfolio .section-title {
    margin: 0 0 2em;
  }
}
@media (min-width: 576px) {
  .footer-box {
    flex-direction: row;
  }
  .footer-box__left, .footer-box__right {
    margin: 0 1em;
  }
  .footer-box__left .my-name {
    margin-top: 0;
    margin-bottom: 0.8em;
  }
  .footer-box__left .place {
    text-align: left;
  }
  .footer-box__right {
    margin-top: 2.5em;
  }
  .footer-box__right .mail {
    margin-bottom: 0;
    padding: 0.5em;
  }
  .footer-box__right--media {
    padding: 0.5em;
  }
  .portfolio {
    min-height: 40em;
  }
  .portfolio .section-title {
    position: relative;
  }
  .portfolio .gallery-box {
    display: flex;
    align-items: center;
  }
  .portfolio .gallery-box__photo {
    margin: 2em;
    scale: 1;
  }
}
@media (min-width: 768px) {
  .header {
    background-image: url("../img/mother-with-child_1920.jpg");
  }
  .header__burger-icon,
  .header .icon__box {
    display: none;
  }
  .header__text {
    top: 80%;
  }
  .header__text--my-name {
    font-size: 7.8rem;
  }
  .header__text--quote {
    font-size: 1.8rem;
  }
  .header .nav-desktop {
    display: flex;
    height: 4.5em;
    width: 100%;
    justify-content: space-evenly;
  }
  .about-me__box {
    flex-direction: row;
    align-items: center;
    width: 700px;
    height: 400px;
  }
  .about-me__link {
    margin-top: 4.5em;
  }
  .journal-box__text {
    font-size: 2.5rem;
    width: 80%;
  }
  .portfolio {
    margin-bottom: -10em;
  }
}
@media (min-width: 992px) {
  .about-me__box {
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 500px;
  }
  .journal .journal-box {
    flex-direction: row;
    margin-top: 2em;
  }
  .journal .journal-box__text {
    width: 75%;
    padding: 0.5em;
  }
  .journal .journal-box__photo {
    transform: rotateZ(10deg);
    transition: transform 0.3s;
  }
  .journal .journal-box--one, .journal .journal-box--two {
    width: 90%;
  }
  .journal .journal-box--two .journal-box__photo {
    order: -1;
    transform: rotateZ(-10deg);
  }
  .journal .journal-box::before {
    display: none;
  }
  .portfolio {
    min-height: 42em;
  }
  .footer-box__medium {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .section-title {
    height: 4em;
    background-color: #f5f5f5;
    margin: 2em 0;
  }
  .section-title__text {
    font-size: 4rem;
  }
  .section-title__text .four,
  .section-title__text .five {
    display: inline-block;
  }
  .portfolio {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */