@import './mixins';

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.header__burger-icon {
	position: absolute;
	right: 0.8em;
	font-size: 2em;
	@include headerIcon;
}

.nav-mobile__close-icon {
	position: relative;
	left: 50%;
	top: 1.5em;
	transform: translateX(-50%);
	font-size: 4rem;
	@include headerIcon;
}

.section-title {
	display: flex;
	align-items: center;
	height: 6em;
	width: 100%;
	margin-bottom: 3em;
	
	

	&__text {
		width: 100%;
		padding: .3em;
		text-align: center;
		font-size: 2rem;
		font-weight: 900;
		text-transform: uppercase;
		color: $white;
		background-color: rgba(0, 0, 0, 0.4);
		
	}
}
@media (min-width: 576px) {
	.section-title {
		&__text {
			font-size: 3rem;
		}
	}
}
