@import './mixins';

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.header__burger-icon {
	position: absolute;
	right: 0.8em;
	font-size: 2em;
	@include headerIcon;
}

.nav-mobile__close-icon {
	position: relative;
	left: 50%;
	top: 1.5em;
	transform: translateX(-50%);
	font-size: 4rem;
	@include headerIcon;
}


