@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Cinzel', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.6rem;
	background-color: $white;
	overflow-x: hidden;
}
.sticky-body {
	height: 100%;
	overflow-y: hidden;
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../img/mother-with-child_640.jpg');
	background-size: cover;
	background-position: center;

	.icon__box {
		position: fixed;
		width: 100%;
		height: 4.5em;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1;
	}

	&__burger-icon {
		position: fixed;
		@include headerIcon;
	}

	.nav {
		position: fixed;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1;

		&-mobile {
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			transform: translateX(100%);
			transition: transform 0.3s;

			&--active {
				transform: translateX(0);
			}
		}
		&__link {
			position: relative;
			display: flex;
			font-size: 2.8rem;
			text-decoration: none;
			color: $white;
			padding: 0.5em 1em;
			justify-content: center;
			transition: 0.3s;

			&:hover {
				color: $darkgrey;
			}
		}
		&__link--mobile {
			&:nth-child(2) {
				margin-top: 4.8em;

				&::before {
					position: absolute;
					content: '';
					top: -30px;
					width: 70%;
					height: 1px;
					background-color: $grey;
					cursor: default;
				}
			}
		}

		&-desktop {
			display: none;
		}
	}

	&__text {
		position: absolute;
		top: 83%;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
		&--my-name {
			font-size: 6rem;
			font-weight: 200;
			white-space: nowrap;
		}
		&--quote {
			text-align: center;
			font-size: 1.5rem;
		}
	}
}

// about-me

.about-me {
	&-section-title {
		padding: 5em 0;
	}
	.wrapper {
		display: flex;
		justify-content: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 700px;
		margin-bottom: 5em;
		padding: 1em;
		justify-content: center;
		background-color: $lightgrey;
		border-radius: 10px;
		overflow: hidden;
	}
	&__photo {
		height: 100%;
		filter: grayscale(90%);
	}

	&__motto {
		padding: 0.7em;
		font-size: 2rem;
		text-align: center;
	}
	&__link {
		margin-bottom: 0.5em;
		font-size: 1.7rem;
		@include articleLink;

		.fa-arrow-right {
			margin-right: 1em;
			margin-top: 0.15em;
		}
	}
}
.journal {
	.journal-boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: BLACK;
		overflow: hidden;
		z-index: 5;
	}

	.journal-box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&--one,
		&--two {
			&::before {
				position: absolute;
				content: '';
				height: 1px;
				width: 70%;
				background-color: $darkgrey;
				bottom: 2em;
			}
		}

		&__title {
			margin: 0.5em auto;
			font-size: 4rem;
			font-weight: 200;
		}

		&__text {
			font-size: 2.5rem;
			width: 80%;
			text-align: center;
			font-weight: 200;
		}

		&__photo {
			scale: 0.6;
			margin-top: -6em;
			border-radius: 12px;
		}
		&__link {
			@include articleLink;
			margin-top: 1em;
			font-size: 2rem;
		}
		&--three {
			width: 90%;
		}
	}
}

// gallery
.portfolio {
	height: 35em;
	.section-title {
		position: relative;
		margin-top: 6em;
	}
	.gallery-box {
		display: flex;
		align-items: center;
		&__photo {
			margin: 2em;
			scale: 0.9;
			border-radius: 10px;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -4px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			transition: scale 0.3s;
			&:hover {
				scale: 1.1;
			}
		}
	}
}

// footer

.footer {
	background-color: $darkgrey;

	&-box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 15em;
		align-items: center;
		color: $white;

		&__left,
		&__right {
			padding: 0 2em;
			margin: 1.2em 0;
		}
		&__left {
			.my-name {
				font-size: 4rem;
				margin-top: 1em;
				margin-bottom: 0.5em;
			}
			.place {
				font-style: italic;
				text-align: center;
			}
		}
		&__medium {
			position: relative;
			display: none;
			font-size: 2.2rem;
			font-weight: 200;
			&::before {
				position: absolute;
				content: '';
				height: 1px;
				width: 50%;
				background-color: $white;
				top: 1em;
				left: 50%;
				transform: translateX(-50%);
			}
			&-one,
			&-two {
				display: flex;
				flex-direction: column;
				margin: 2em;
				height: 3em;
				text-align: center;
			}
			&-three {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			.map {
				text-decoration: none;
				color: $white;
				line-height: 1.8em;
				transition: color 0.3s;
				&:hover {
					color: $grey;
				}
			}
		}
		&__right {
			text-align: center;

			.mail {
				font-size: 2rem;
				margin-bottom: 1em;
				font-style: italic;
			}
			&--media {
				display: flex;
				font-size: 3rem;
				justify-content: space-around;
				margin-bottom: 1em;
				cursor: pointer;
			}
		}
	}
	&-box__bottom {
		width: 100%;
		text-align: center;
		padding: 1em;
		color: $white;
	}
}

@media (min-width: 576px) {
	.footer {
		&-box {
			flex-direction: row;

			&__left,
			&__right {
				margin: 0 1em;
			}
			&__left {
				.my-name {
					margin-top: 0;
					margin-bottom: 0.8em;
				}
				.place {
					text-align: left;
				}
			}

			&__right {
				margin-top: 2.5em;
				.mail {
					margin-bottom: 0;
					padding: 0.5em;
				}
				&--media {
					padding: 0.5em;
				}
			}
		}
	}
	.portfolio {
		height: 40em;
		
			.section-title {
				position: relative;
				margin-top: 6em;
			}
			.gallery-box {
				display: flex;
				align-items: center;
				&__photo {
					margin: 2em;
					scale: 1;
	}}}}


@media (min-width: 768px) {
	.header {
		background-image: url('../img/mother-with-child_1920.jpg');

		&__burger-icon,
		.icon__box {
			display: none;
		}

		&__text {
			top: 80%;

			&--my-name {
				font-size: 7.8rem;
			}
			&--quote {
				font-size: 1.8rem;
			}
		}

		.nav-desktop {
			display: flex;
			height: 4.5em;
			width: 100%;
			justify-content: space-evenly;
		}
	}

	.about-me {
		&__box {
			flex-direction: row;
			align-items: center;
			width: 700px;
			height: 400px;
		}
		&__link {
			margin-top: 4.5em;
		}
	}
	
}

@media (min-width: 992px) {
	.about-me {
		&__box {
			flex-direction: row;
			align-items: center;
			width: 800px;
			height: 500px;
		}
	}
	.journal {
		.journal-box {
			flex-direction: row;
			margin-top: 2em;
	
			&__text {
				width: 75%;
				padding: 0.5em;
			}
	
			&__photo {
				
				transform: rotateZ(10deg);
				transition: transform 0.3s;
			}
	
			&--one,
			&--two {
				width: 90%;
			}
			&--two {
				.journal-box__photo {
					order: -1;
					transform: rotateZ(-10deg);
				}
			}
			&::before {
				display: none;
			}
		}
	}
	
	.footer {
		&-box {
			&__medium {
				display: flex;
			}
		}
	}
}

@media (min-width: 1200px) {
	.section-title {
		height: 4em;
		background-color: $white;
		margin: 2em 0;

		&__text {
			font-size: 4rem;
			.four,
			.five {
				display: inline-block;
			}
		}
	}
}
